body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.code-line {
  padding: 0;
  margin: 0;
}

.home {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.home .lang-list {
  padding-top: 1rem;
  border: 1px solid rgba(0, 0, 0, .2);
}

.codes {
  font-family: "SF Mono","Segoe UI Mono","Roboto Mono",Menlo,Courier,monospace;
  font-size: .6rem;
}

.playground {
  width: 800px;
}

.playground .divider {
  margin-top: 1rem;
}

.playground .input-code-area {
  font-size: .7rem;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 1rem;
}

.playground .input-program .bg-error {
  width: 80%;
}

